/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

@font-face {
  font-family: 'KeplerStd';
  src: url("../fonts/KeplerStd/KeplerStd-BoldDisp.eot?") format("eot"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.ttf") format("truetype"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url("../fonts/ProximaNova/ProximaNova-ExtraBold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
}

.wrapper {
  min-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ecf0f1;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #454851;
}

.content {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

@font-face {
  font-family: 'KeplerStd';
  src: url("../fonts/KeplerStd/KeplerStd-BoldDisp.eot?") format("eot"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.ttf") format("truetype"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url("../fonts/ProximaNova/ProximaNova-ExtraBold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
}

.header {
  font-weight: 700;
  background-color: #fff;
  padding: 15px 0;
}

.header .content {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #454851;
}

.header a:visited {
  color: #5c6211;
}

.header .svg-private-holidays {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .header a:nth-child(1) {
    display: none;
  }
  .header a:nth-child(2) {
    display: none;
  }
  .header a:nth-child(4) {
    display: none;
  }
  .header a:nth-child(5) {
    display: none;
  }
}

.header {
  font-family: 'ProximaNovaBold', sans-serif;
}

@font-face {
  font-family: 'KeplerStd';
  src: url("../fonts/KeplerStd/KeplerStd-BoldDisp.eot?") format("eot"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.ttf") format("truetype"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url("../fonts/ProximaNova/ProximaNova-ExtraBold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
}

.intro {
  display: block;
  background-color: #3dafb0;
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.intro .title {
  text-transform: uppercase;
  font-size: 60px;
  padding: 315px 0;
  color: #ffffff;
  font-weight: 800;
  font-size: 60px;
}

.intro {
  display: block;
  background-image: url("../img/main/enjoy-freedom/mountains-and-beach.jpg");
}

.intro .title {
  font-family: 'ProximaNovaExtraBold', sans-serif;
}

@font-face {
  font-family: 'KeplerStd';
  src: url("../fonts/KeplerStd/KeplerStd-BoldDisp.eot?") format("eot"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.ttf") format("truetype"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url("../fonts/ProximaNova/ProximaNova-ExtraBold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
}

.checkin {
  position: relative;
  height: 0;
}

.checkin .choose {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 70%;
  top: -80px;
  background-color: #fff;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 58px 40px;
  font-weight: 400;
}

.checkin .choose form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: inherit;
}

.checkin .choose form input:not([type=button]), .checkin .choose form select {
  width: 22%;
  padding-bottom: 20px;
  font-family: inherit;
  color: inherit;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #999999;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  background: url(~/../../img/main/choose-date/arrow-down.png) no-repeat;
  background-size: 15px;
  background-position: 98% 10%;
  cursor: pointer;
}

.checkin .choose form input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.checkin .choose form .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: transparent;
  background-color: #f31131;
  cursor: pointer;
}

.checkin .choose form .btn:hover {
  background-color: #d4102a;
}

@media screen and (max-width: 768px) {
  .checkin .choose form {
    padding: 20px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .checkin .choose form input:not([type=button]), .checkin .choose form select {
    width: 90%;
    text-align: center;
    margin: 2% auto;
  }
  .checkin .choose form .button {
    margin: 2% 10% 5% auto;
  }
  .checkin .choose form .button .btn {
    width: 80px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 375px) {
  .checkin .choose {
    padding: 5px;
  }
  .checkin .choose form {
    padding: 0;
  }
  .checkin .choose form .button {
    margin: 2% auto;
  }
}

.checkin .choose {
  font-family: "ProximaNovaLight", sans-serif;
}

@font-face {
  font-family: 'KeplerStd';
  src: url("../fonts/KeplerStd/KeplerStd-BoldDisp.eot?") format("eot"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.ttf") format("truetype"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url("../fonts/ProximaNova/ProximaNova-ExtraBold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
}

.vacation-ideas {
  max-width: 1400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.vacation-ideas h2 {
  font-size: 48px;
  font-weight: 400;
  color: #171d1c;
  padding-top: 190px;
  padding-bottom: 70px;
  text-align: center;
}

.vacation-ideas .items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 12%;
  max-width: 1400px;
}

.vacation-ideas .items .item {
  width: 30%;
  height: 300px;
  position: relative;
  text-align: center;
  overflow: hidden;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.vacation-ideas .items .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

.vacation-ideas .items .item img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.vacation-ideas .items .item .item-border {
  padding: 7px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
}

.vacation-ideas .items .item .item-border p {
  font-family: 'KeplerStd', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #454851;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding-top: 8%;
  padding-bottom: 10%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .vacation-ideas h2 {
    padding-top: 440px;
  }
}

@media screen and (max-width: 600px) {
  .vacation-ideas h2 {
    padding-top: 80%;
  }
  .vacation-ideas .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3%;
  }
  .vacation-ideas .items .item {
    width: auto;
    margin-bottom: 3%;
  }
}

@font-face {
  font-family: 'KeplerStd';
  src: url("../fonts/KeplerStd/KeplerStd-BoldDisp.eot?") format("eot"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.ttf") format("truetype"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url("../fonts/ProximaNova/ProximaNova-ExtraBold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
}

.why-we {
  padding-bottom: 100px;
}

.why-we h2 {
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  color: #171d1c;
  padding-top: 100px;
  padding-bottom: 65px;
}

.why-we .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 240px;
  margin: 0 12%;
}

.why-we .holder h3 {
  padding-top: 25px;
  padding-bottom: 20px;
}

.why-we .holder .why {
  width: 30%;
}

.why-we .holder .why p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .why-we {
    padding-bottom: 140px;
  }
}

@media screen and (max-width: 600px) {
  .why-we {
    padding-bottom: 600px;
  }
  .why-we .holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .why-we .holder .why {
    margin-top: 5%;
    width: 100%;
  }
}

.why-we h2 {
  font-family: 'ProximaNovaRegular', sans-serif;
}

.why-we .why p {
  font-family: 'ProximaNovaLight', sans-serif;
}

@font-face {
  font-family: 'KeplerStd';
  src: url("../fonts/KeplerStd/KeplerStd-BoldDisp.eot?") format("eot"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.ttf") format("truetype"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url("../fonts/ProximaNova/ProximaNova-ExtraBold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
}

.form2 {
  display: block;
  background-color: #3dafb0;
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 170px;
  padding-left: 60%;
}

.form2 .form-holder {
  width: 75%;
  padding: 45px 45px 40px 45px;
  background-color: #fff;
}

.form2 .form-holder form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form2 .form-holder form h4 {
  font-weight: 400;
  font-size: 30px;
  color: #1a1a1a;
  margin-bottom: 40px;
}

.form2 .form-holder form input:not([type=button]) {
  border: none;
  border-bottom: 1px solid #999999;
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
  padding-bottom: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.form2 .form-holder form .my-choice .choice {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24%;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.form2 .form-holder form input[type=button] {
  width: 100px;
  height: 40px;
  margin-top: 60px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #f31131;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.form2 .form-holder form input[type=button]:hover {
  background-color: #d4102a;
}

@media screen and (max-width: 768px) {
  .form2 {
    padding-left: 55%;
  }
}

@media screen and (max-width: 500px) {
  .form2 {
    padding-left: 20%;
  }
}

.form2 {
  display: block;
  background-image: url("~/../img/main/send-form/bungalow.jpg");
  font-family: "ProximaNovaLight", sans-serif;
}

@font-face {
  font-family: 'KeplerStd';
  src: url("../fonts/KeplerStd/KeplerStd-BoldDisp.eot?") format("eot"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.ttf") format("truetype"), url("../fonts/KeplerStd/KeplerStd-BoldDisp.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNova/ProximaNova-Bold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaExtraBold';
  src: url("../fonts/ProximaNova/ProximaNova-ExtraBold.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaLight';
  src: url("../fonts/ProximaNova/ProximaNova-Light.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot") format("eot"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff");
}

footer {
  background-color: #171d1c;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 35px;
  margin: 0 12%;
  text-decoration: none;
  color: #ffffff;
}

footer .footer .footer-box {
  line-height: 1.5;
  margin-right: 1%;
}

footer .footer h5 {
  font-family: 'ProximaNovaBold', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

footer .footer ul {
  font-family: 'ProximaNovaRegula', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

footer .footer ul li a {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

footer .footer .information, footer .footer .experiences, footer .footer .themes {
  width: 14%;
}

footer .footer .destinations {
  width: 29%;
}

footer .footer .destinations .colomns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20%;
}

footer .footer .contacts {
  margin-left: 20%;
  text-align: right;
  font-family: 'ProximaNovaRegula', sans-serif;
  font-weight: 400;
  width: 24%;
}

footer .footer .contacts .phone {
  margin-bottom: 35px;
}

footer .footer .contacts p {
  font-size: 14px;
}

footer .footer .contacts p a {
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

footer .footer .contacts address {
  font-style: normal;
  color: #ffffff;
}

footer .footer .contacts address h6 {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  footer .footer .footer-box {
    width: 25%;
  }
  footer .footer .contacts {
    margin-left: 13%;
  }
  footer .footer .destinations {
    width: 28%;
  }
}

@media screen and (max-width: 690px) {
  footer .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer .footer-box {
    margin-top: 5%;
  }
}

@media screen and (max-width: 450px) {
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer .footer-box {
    width: 100%;
  }
  footer .footer .contacts {
    margin-left: 3%;
  }
}
/*# sourceMappingURL=style.css.map */