@import "../helpers/fonts";
.checkin {
    position: relative;
    height: 0;
    .choose {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 70%;
        top: -80px;
        background-color: #fff;
        color: #999999;
        display: flex;
        align-items: center;
        padding: 58px 40px;
        // font-family: "ProximaNovaLight", sans-serif;
        font-weight: 400;
        form {
            display: flex;
            width: 100%;
            justify-content: space-between;
            font-family: inherit;

            input:not([type=button]), select {
                width: 22%;
                padding-bottom: 20px;
                font-family: inherit;
                color: inherit;
                font-weight: 300;
                font-size: 16px;
                border: none;
                border-bottom: 1px solid #999999;
                appearance: none;
                background-color: #fff;
                background: url(~/../../img/main/choose-date/arrow-down.png) no-repeat;
                background-size: 15px;
                background-position: 98% 10%;
                cursor: pointer;
            }
            input[type=date]::-webkit-calendar-picker-indicator {
                opacity: 0;
                cursor: pointer;
            }
            .btn {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: transparent;
                background-color: #f31131;
                // background: url(../../img/main/choose-date/arrow.png) no-repeat;
                cursor: pointer;
            }
            .btn:hover {
                background-color: #d4102a;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .checkin {
        .choose {
            form {
                padding: 20px 40px;
                flex-direction: column;

                input:not([type=button]), select {
                    width: 90%;
                    text-align: center;
                    margin: 2% auto;
                }
            .button {
                margin: 2% 10% 5% auto;
                .btn {
                    width: 80px;
                    border-radius: 20px;
                }
            }
            }
        } 
    }
}
@media screen and (max-width: 375px) {
    .checkin {
        .choose {
            padding: 5px;
            form {
                padding: 0;
                .button {
                    margin: 2% auto;
                }
            } 
        }
    }
}