@import "../helpers/fonts";
.why-we {
    padding-bottom: 100px;
    h2 {
        text-align: center;
        font-family: 'ProximaNovaRegular', sans-serif;
        font-weight: 400;
        font-size: 48px;
        color: #171d1c;
        padding-top: 100px;
        padding-bottom: 65px;
    }
    .holder {
        display: flex;
        justify-content: space-between;
        text-align: center;
        height: 240px;
        margin: 0 12%;
        h3 {
            padding-top: 25px;
            padding-bottom: 20px;
        }
        .why {
            width: 30%;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: space-between;
            p {
                font-family: 'ProximaNovaLight', sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 1.2;
            }
         }
    }
}
@media screen and (max-width: 768px) {
    .why-we {
        padding-bottom: 140px;
    }
}
@media screen and (max-width: 600px) {
    .why-we {
        padding-bottom: 600px;
        .holder {
            flex-direction: column;
            align-items: center;
            .why {
                margin-top: 5%;
                width: 100%;
            }
        }
    }
}